body{
    margin: 0;
    background-image: url(./imagens/stretched-1360-768-1065042.jpg);
    background-repeat: no-repeat;
}

img{
    position: absolute;
    width: 400px;
    bottom: 0;
}


.logo2{
    top: 0;
    right: 0;
    animation: logo2 10s;
}

@keyframes logo2{
    from{
        top: 200px;
        right: 500px;
        opacity: 0;
    }
    to{
        opacity: 1;
        top: 0;
        right: 0;
    }
}

.logoAvatar{
    width: 550px;
    right: 370px;
    top: 310px;
    animation: logoAvatar 10s;
}

@keyframes logoAvatar{
    from{
        opacity: 0;
        width: 200px;
    }
    to{
        opacity: 1;
        width: 550px;
    }
}

.personagem1{
    right: 0;
    animation: personagem1 10s;
}

@keyframes personagem1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.personagem{
    animation: personagem2 10s;
}

@keyframes personagem2{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}